<h1 class="display-4">Contact</h1>

<div class="card">
<div class="row">
    <div class="col-lg-6 col-md-6">
      <span>
        <img class="card-img-top style-profile" src="https://s3.amazonaws.com/sails-bucket/<%= contact.photouid %>" alt="<%= contact.photoname %>" >
      </span>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="card-body">
        <div>
            <h3 class="card-title">Name: <%= contact.name %></h3>
        </div>
        <div>
            <h3 class="card-title">Email: <%= contact.email %></h3>
        </div>
        <div>
            <h3 class="card-title">Phone: <%= contact.phone %></h3>
        </div>
      </div>
    </div>
</div>
</div>

